@import url("https://fonts.googleapis.com/css2?family=BioRhyme:wght@200&family=Charmonman&family=Lobster+Two&family=Offside&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Shalimar&display=swap");

.scrumTada {
  -webkit-animation-duration: 3s;
  -webkit-animation-delay: 2s;
  -webkit-animation-iteration-count: infinite;
}

.scrumMonoton {
  font-family: "Monoton", cursive;
  color: #1a237e;
}
.scrumCharmon {
  font-family: "Charmonman", cursive;
  font-size: x-large;
  color: #b39ddb !important;
}
.scrumLobster {
  font-family: "Lobster Two", cursive;
  color: #b39ddb !important;
}
.scrumOffside {
  font-family: "Offside", cursive;
  color: #00ffff !important;
}
.scrumBioRhyme {
  font-family: "BioRhyme", serif;
  color: aqua;
}
.scrumShalimar {
  font-family: "Shalimar", cursive;
  font-weight: 900;

  color: #add8e6;
}

img {
  width: 100%;
}

.navbar {
  background-color: #708090;
}
.fa.fa-edit {
  color: #18a2b9;
}
.list-group-item.background {
  color: rgb(63, 60, 60) !important;
}
.list-group-item.delete:hover {
  cursor: -webkit-grab;
  background-color: #b53fa5 !important;
}

.list-group-item.update:hover {
  cursor: -webkit-grab;
  background-color: #4a148c I !important;
}

.list-group-item.board:hover {
  cursor: -webkit-grab;
  background-color: #6f71e6 !important;
}

.fa.fa-minus-circle {
  color: #f50057;
}

.landing {
  position: relative;
  /* background: url("../img/showcase.jpg") no-repeat; */
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: -24px;
  margin-bottom: -50px;
}

.landing-inner {
  padding-top: 80px;
}

.dark-overlay {
  background-color: #9370db;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-form {
  opacity: 0.9;
}
.bg-scrummaster {
  background-color: #1a237e !important;
}
.bg-scrumProjectBoard {
  background-color: #9575cd !important;
}
.bg-scrumUpdate {
  background-color: #448aff !important;
}
.bg-scrumDelete {
  font-weight: normal !important;
  font-family: fantasy !important;
  color: #dc143c !important;
  background-color: #e9967a !important;
}
.bg-scrumlord {
  background-color: #4a148c !important;
}
.bg-scrumButton {
  background-color: #00008b !important;
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.form-control::placeholder {
  color: #bbb !important;
}
.scrumMainFont {
  font-weight: normal !important;
  font-family: fantasy !important;
  color: #00ced1 !important;
}
.scrumFancyFont {
  font-family: Brush Script MT, Brush Script Std, cursive !important;
  font-size: 24px;
  color: #b39ddb !important;
}
.whatever {
  color: #311b92;
}
