@import url("https://fonts.googleapis.com/css2?family=BioRhyme:wght@200&family=Charmonman&family=Lobster+Two&family=Offside&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Rock+Salt&family=Shalimar&family=Yuji+Mai&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@900&family=Roboto:ital,wght@0,900;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@700&display=swap");

@media (min-width: 1200px) {
}

.high-contrast {
  /* background-size: cover; */
  position: relative;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: #252525;
  /* background: radial-gradient(
      farthest-corner at top,
      #767677 0%,
      #575757 4%,
      #3b3b3b 12.25%,
      rgb(82, 82, 82) 22.25%,
      #000000 50%
    ) */
  /* top right/200% 200%; */
  justify-content: center;
  align-items: center;
  color: rgb(107, 107, 107);
  font-weight: bold;
  /* animation: colorChange 5s infinite alternate; */
}
@keyframes colorChange {
  to {
    background-position: top left;
  }
}
@keyframes move_eye {
  from {
    margin-left: -20%;
  }
  to {
    margin-left: 100%;
  }
}
.scrumFuzzyBubbles {
  font-family: "Fuzzy Bubbles", cursive;
  font-weight: 700, bold;
  text-shadow: 1px 1px 2px rgb(110, 10, 10), 0 0 25px rgb(195, 73, 185),
    0 0 5px rgb(100, 20, 110);
  color: #001d4e;
  font-size: 35px;
}
.scrumFuzzyBubbles2 {
  font-family: "Fuzzy Bubbles", cursive;
  font-weight: 700, bold;
  font-size: 25px;
  text-shadow: 1px 1px 2px rgb(110, 10, 10), 0 0 25px rgb(195, 73, 185),
    0 0 5px rgb(100, 20, 110);
  color: #102242;
}

.scrumNunito {
  font-family: "Nunito", sans-serif;
  font-weight: 900;
  font-size: 25px;
  text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 25px rgb(49, 49, 49),
    0 0 5px rgb(201, 207, 205);
}
.scrumRobotoItl {
  font-family: "Roboto", sans-serif;
  font-style: italic;
  text-shadow: 1px 1px 2px rgb(10, 110, 32), 0 0 25px rgb(73, 195, 114),
    0 0 5px rgb(20, 110, 80);
  color: #1a237e;
}
.scrumRoboto {
  font-family: "Roboto", sans-serif;
  color: #1a237e;
  font-weight: 900;
}

.scrumShadow {
  height: 50px;
  width: 100%;
  background-color: #00b62e;
}
.scrumSource {
  font-family: "Source Sans 3", sans-serif;
  font-size: 20px;
  text-shadow: 1px 1px 2px rgb(10, 110, 32), 0 0 25px rgb(73, 195, 114),
    0 0 5px rgb(20, 110, 80);
  color: #42d335;
}
.scrumSubmitBtn {
  background: #fad8d8;
  background-image: radial-gradient(#0059ff, #353674, #3c00ff);
  -webkit-border-radius: 28;
  border-radius: 28px;
}
.scrumBtn {
  background: #fad8d8;
  background-image: radial-gradient(#221b79, #3638dfc4, #264b8f);
  -webkit-border-radius: 28;
  border-radius: 28px;
}
.scrumSubmitBtn:hover {
  background: #351fff42;
  background-image: radial-gradient(to bottom, #4c71ecd2, #9e5164, #951329);
}

.scrumBtn:hover {
  background: #c4a4d6;
  background-image: linear-gradient(to bottom, #4b3ba5, #2c2b79, #17173f);
}

.scrumYujiMai {
  font-family: "Yuji Mai", serif;
  font-size: 60px;
  text-shadow: 1px 1px 2px rgb(68, 73, 6), 0 0 25px rgb(145, 255, 0),
    0 0 5px rgb(97, 139, 0);
  color: #000000;
}

.scrumRockSalt {
  font-family: "Rock Salt", cursive;
  font-size: 26px;
  text-shadow: 1px 1px 2px rgb(110, 10, 10), 0 0 25px rgb(195, 73, 185),
    0 0 5px rgb(100, 20, 110);
  color: #102242;
}

.scrumMonoton {
  font-family: "Monoton", cursive;
  text-shadow: 1px 1px 2px rgb(238, 107, 205), 0 0 25px rgb(189, 47, 202),
    0 0 5px rgb(198, 77, 202);
  color: #000000;
}
.scrumCharmon {
  font-family: "Charmonman", cursive;
  font-size: 77px;
  color: #fff5ee;
  text-shadow: 1px 1px 2px rgb(238, 107, 210), 0 0 25px rgb(202, 47, 189),
    0 0 5px rgb(202, 77, 196);
}
.scrumLobster {
  font-family: "Lobster Two", cursive;
  color: #342058 !important;
  text-shadow: 1px 1px 2px rgb(107, 238, 157), 0 0 25px rgb(47, 202, 137),
    0 0 5px rgb(77, 202, 119);
}
.scrumOffside {
  font-family: "Offside", cursive;
  color: #00ffff !important;
}
.scrumBioRhyme {
  font-family: "BioRhyme", serif;
  color: aqua;
}
.scrumShalimar {
  font-family: "Shalimar", cursive;
  font-weight: 900;
  color: #3b033d;
}

img {
  object-fit: cover;
}

.navbar {
  background-color: #202a35be;
}
.fa.fa-edit {
  color: #18a2b9;
}
.list-group-item.background {
  color: rgb(63, 60, 60) !important;
}
.list-group-item.delete:hover {
  cursor: -webkit-grab;
  background-color: #b53fa5 !important;
}

.list-group-item.update:hover {
  cursor: -webkit-grab;
  background-color: #4a148c I !important;
}

.list-group-item.board:hover {
  cursor: -webkit-grab;
  background-color: #6f71e6 !important;
}

.fa.fa-minus-circle {
  color: #f50057;
}
.register {
  position: relative;
  /* background: url("../img/showcase.jpg") no-repeat; */
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: -24px;
  margin-bottom: -50px;
}
.addProject {
  position: relative;
  /* background: url("../img/showcase.jpg") no-repeat; */
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: -24px;
  margin-bottom: -50px;
}
.projectBoard {
  position: relative;
  /* background: url("../img/showcase.jpg") no-repeat; */
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: -24px;
  margin-bottom: -50px;
}
.projects {
  position: relative;
  /* background: url("../img/showcase.jpg") no-repeat; */
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: -24px;
  margin-bottom: -50px;
}
.add-PBI {
  position: relative;
  /* background: url("../img/showcase.jpg") no-repeat; */
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: -24px;
  margin-bottom: -50px;
}
.login {
  position: relative;
  /* background: url("../img/showcase.jpg") no-repeat; */
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: -24px;
  margin-bottom: -50px;
}
.landing {
  position: relative;
  /* background: url("../img/showcase.jpg") no-repeat; */
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: -24px;
  margin-bottom: -50px;
}

.landing-inner {
  padding-top: 80px;
}

.dark-overlay {
  position: relative;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: #e6e6fa;
  background: radial-gradient(
      farthest-corner at top,
      #9370db 0%,
      #8a2be2 4%,
      #9932cc 12.25%,
      #4b0082 22.25%,
      #9400d3 50%
    )
    top right/200% 200%;
  justify-content: center;
  align-items: center;
  color: rgb(107, 107, 107);
  font-weight: bold;
  animation: colorChange 5s infinite alternate;
}

.card-form {
  opacity: 0.9;
}
.bg-scrummaster {
  background-color: #060a3f9b !important;
}
.bg-scrumProjectBoard {
  background-color: #00ced1 !important;
}
.bg-scrumUpdate {
  background-color: #448aff !important;
}
.bg-scrumDelete {
  background: #fad8d8;
  background-image: radial-gradient(#791b3a, #df366ec4, #8f2649);
  -webkit-border-radius: 28;
  border-radius: 28px;
}
.bg-scrumlord {
  background-color: #4a148c !important;
}
.bg-scrumButton {
  background-color: #727174cc !important;
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}
.input.form-control.form-control-lg {
  background: #6f71e6 !important;
}
.bg-danger {
  background-image: linear-gradient(#ff0000, #c23535, #ff0062) !important;
}
.bg-primary {
  background-image: linear-gradient(#7d85f6, #3735c2, #0044ff) !important;
}
.bg-info {
  background-image: linear-gradient(#7df6ab, #80c235, #00ff95) !important;
}
.bg-warning {
  background-image: radial-gradient(#8a9900, #8f9938, #fffc49) !important;
}
.bg-light {
  background-image: linear-gradient(#2a2222, #3d3d41, #808185d8) !important;
}
.bg-secondary {
  background-image: linear-gradient(#be9166, #9b8a50, #ff7b00) !important;
}
/* .form-control::placeholder {
  color: rgba(15, 250, 46, 0.589) !important;
} */
.scrumMainFont {
  font-weight: normal !important;
  font-family: fantasy !important;
  color: #00ced1 !important;
}
.scrumFancyFont {
  font-family: Brush Script MT, Brush Script Std, cursive !important;
  font-size: 24px;
  color: #b39ddb !important;
}
.whatever {
  color: #8b2f2f;
}
.scrumAnimateRubberBand {
  animation-name: jackInTheBox;
  /* animation-duration: infinite; */
  -webkit-animation-delay: 2s;
}
html,
body {
  font-family: Lato, Arial, sans-serif !important;
}

h3 {
  font-size: 18px !important;
}

p {
  font-size: 16px !important;
}

#left,
#right {
  margin-top: 20px;
  padding-top: 20px;
  background-color: #e8615f;
  min-height: 400px;

  border-radius: 3px !important;
}

#left {
  width: 49%;
  float: left !important;
}

#right {
  width: 49%;
  float: right !important;
}

.card {
  background-color: #fff;
  margin: 7px;
  border-radius: 5px;

  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.2) !important;
}

.card:hover {
  cursor: pointer !important;
}

.card-header {
  padding: 5px 0 0 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2) !important;
}

.card-body {
  padding: 10px 0 10px 5px !important;
}
/* .container {
  display: flex !important;
} */
